{% extends "main/header.html" %}
{% load static %}

	{% block content %}
		<style>
			h3 span{
                color:  black;
            }
            h3{
                color:  #242D31;
                font: bold 36px 'Calisto MT', cursive;
                margin: 0;
            }
            p span{
                display:block;
                font-weight: normal;
                font-size:14px;
                line-height:2;
            }
            p a{
                color:  black;
                text-decoration: none;;
            }
            p {
            	color:  #242D31;
                font: normal 20px 'Candara', cursive;
            }
            .space {
            	padding: 50px;
            }
		</style>
		<div class = "container">
			<h3>About Us</h3>
		</div>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet">
				<div class = "container">
					<p class = "space"></p>
					<p>NoteClub is a platform build in order to provide you all the necessary notes and question papers. Since the pandemic started, we all had to rely on the Internet more than ever for our studies.  So we built this platform where anyone can upload files and everyone else can download them. I've categorised the files with respect to colleges, departments, semesters and subjects so that it becomes easy for you to get what you need.</p>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
				<img src = "{% static 'images/note-image.jpg' %}" alt="Notes Image">
			</div>
		</div>
	{% endblock %}