{% extends 'main/header.html' %}

			{% block content %}
				<style>
					.college-button {
						padding: 10px;
						width: 400px;
						height: 100px;
					    font-size: 18px;
					    position: relative;
					    bottom: 460%;
					    left: 20%;
					    font-family: "Franklin Gothic Medium";
					    text-transform: uppercase;
					    letter-spacing: 1.5px;
					    font-weight: 500;
					    color: black;
					    background-color: #FFFFFF;
					    border: solid;
					    border-color: #39D229;
					    border-radius: 25px;
					    box-shadow: 0px 8px 15px rgba(15, 69, 8, 0.35);
					}
					.college-button:hover {
					    font-family: "Franklin Gothic Medium";
					    text-transform: uppercase;
					    letter-spacing: 1.5px;
					    font-weight: 500;
					    color: white;
					    background-color: #877E8F;
					    border: solid;
					    border-color: #296821;
					    border-radius: 25px;
					    box-shadow: 0px 8px 15px rgba(15, 69, 8, 0.25);
					    cursor: pointer;
					}
					.heading {
						font-family: "Verdana";
						position: relative;
						left: 53px;
						font-weight: bold;
						font-size: 35px;
						text-align: center;
						padding: 60px;
					}
					p.big {
						line-height: 2;
					}
				</style>
				<div class = "container">
					<p class = "heading">
						Departments
					</p>
				</div>
				<div class = "container">
					<div class="row">
				        {% for dept in department %}
				            <div class="col s12 m6 l6">
				                <a href="{{dept.department_slug}}", style="color:#000">
				                    <button class="college-button btn-border">{{dept.department_name}}</button>
				                    <p class = "big">&nbsp;</p>
				                </a>
				            </div>
				        {% endfor %}
			    	</div>
			    </div>
            {% endblock %}