{% extends 'main/header.html' %}


{% block title %}{{ user.username }}{% endblock %}

{% block content %}
        {% if user.is_authenticated %}
        <h3>{{ user.username }} welcome to your profile page</h3>
        <div class="container" align="left">
            <form method="post">
                 {% csrf_token %}
                 {{ form.as_p }}
                <button class="sub-button" type="submit">Submit</button>
            </form>
        </div>        
        {% endif %}

{% endblock %}