{% extends 'main/header.html' %}
  {% block content %}
    <style>
      hr.style1{
                border-top: 1px solid #8c8b8b;
                width: 50%;
                }
      h2{
        text-align: center;
        font-family: Gadget;
              color: black; 
        }

    </style>
     <div class="row">
      <div class="col s7 push-s5"><span class="flow-text"></span></div>
      <div class="col s3 pull-s7"><span class="flow-text"><h2>Profile Info</h2>.</span></div>
    </div>
    
          
   
        <div class="container" align="left">
          <div class="divider"></div>
          <div class="section">
            <h4>{{user.username|title}}</h4>
            <hr class="style1">
          </div>
          <div class="divider"></div>
          <div class="section">
            
            <h4>{{user.email|title}}</h4>
            <hr class="style1">
          </div>

  {% endblock %}