{% extends 'main/header.html' %}

            {% block content %}
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <!-- Raised button -->
                    <button class="mdl-button mdl-js-button mdl-button--raised">Register</button>
                </form>

                If you already have an account <a href="/login" target="blank"><strong>login</strong></a> instead.

            {% endblock %}