{% extends "main/header.html" %}
{% load static %}

	{% block content %}
		<style>
			h3 span{
                color:  black;
            }
            h3{
                color:  #242D31;
                font: bold 36px 'Calisto MT', cursive;
                margin: 0;
            }
            p span{
                display:block;
                font-weight: normal;
                font-size:14px;
                line-height:2;
            }
            p a{
                color:  black;
                text-decoration: none;;
            }
            p {
            	color:  #242D31;
                font: normal 20px 'Candara', cursive;
            }
            .space {
            	padding: 50px;
            }
		</style>
		<div class = "container">
			<h3>Our Team</h3>
		</div>
	{% endblock %}