h4 {
    font-family: Calibri;
    color: #34495E;
}
body {
    background-image: url('{% static "images/background.jpg" %}')
}
.chem {
    width: 100px;
}
.side-book {
    width: 150px;
}
.home-note {
    height: 1000px;
}
.reg-button {
    position: relative;
    left: 100px;
}
.reg-button {
    width: 175px;
    height: 45px;
    font-size: 11px;
    position: relative;
    font-family: Gadget;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #25383C;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.sub-button {
    width: 150px;
    height: 45px;
    font-size: 11px;
    position: relative;
    bottom: 460%;
    left: 23%;
    font-family: Gadget;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2c3e50;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}
.sub-button:hover {
    background-color: #34495e;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-weight: 550;
    border: none;
}
.reg-button:hover {
    width: 175px;
    height: 45px;
    font-size: 11px;
    position: relative;
    font-family: Gadget;
    text-transform: uppercase;
    font-weight: 550;
    color: #25383C;
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.logo {
    width: 55px;
    padding-bottom: 70px;
}
.colleges {
    width: 55px;
    padding-bottom: 70px;
}
.logo-actual {
    padding-bottom: 20px;
    width: 45px;
}
.mdl-layout .mdl-layout__header--transparent{
    background-color: white;
}
h4 {
    font-family: Calibri;
    color: #34495E;
}
h6 {
    color: #0C090A;
    font-family: Gadget;
    font-weight: 550;
    padding-bottom: 10px;
}
h6:hover {
    color: #223D3B;
    text-decoration: underline;
}
.side-book {
    width: 200px;
}
.chem {
    width: 100px;
}
.normal {
    position: relative;
    color: #25383C;
    font-family: "Comic Sans", Gadget, sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: 0.02em;
    box-sizing: border-box;
}
.title-main {
  display: block;
  position: relative;
  color: #25383C;
  font-family: "Comic Sans", Gadget, sans-serif;
  font-size: 70px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}
.fa {
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: green;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}