        {% load static %}
        <link href = "{% static 'main/css/footer.css' %}", rel = 'stylesheet'>
        <footer class="footer-distributed">

            <div class="footer-left">

                <h3>You've reached the end!</h3>

                <p class="footer-links">
                    <a href="/" class="link-1">Home</a>
                    
                    <a href="https://www.tech-turtle.com/blog">Blog</a>
                
                    <a href="/about/">About</a>
                    
                    <a href="/team/">Our Team</a>
                    
                    <a href="mailto:clubnote60@gmail.com">Contact</a>
                </p>

                <p class="footer-company-name">NoteClub © 2020</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-github"></i>
                    <p><span>Open Sourced on Github</span> <a href = "https://github.com/Anjani100/Note-Keeper">Note-Keeper</a></p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:clubnote60@gmail.com">clubnote60@gmail.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the platform</span>
                    At NoteClub, you can upload any notes you want and other people can download them. Click <a href = "/notes">Notes</a> to get started.
                </p>

                <div class="mdl-mega-footer__bottom-section">

                    <ul class="mdl-mega-footer__link-list">
                        <p></p>
                        <li class="mdl-logo"><a href="https://github.com/Anjani100" target = "_blank" class="fa fa-github"></a></li>
                        <li class="mdl-logo"><a href="https://www.tech-turtle.com/" target = "_blank" class="fa fa-chain"></a></li>
                        <li class="mdl-logo"><a href="https://www.linkedin.com/in/anjani-kumar-singh-77337516a/" target = "_blank" class="fa fa-linkedin"></a></li>
                    </ul>

                </div>

            </div>

        </footer>
