{% load static %}
        <style>
            h6:hover {
                color: #223D3B;
                text-decoration: underline;
            }
	    .mdl-layout__drawer {
                padding: 10px;
            }
	    .mdl-layout__drawer-button {
		padding: 10px;
		height: 35px;
		width: 40px;
	    }
        </style>
        <header class="mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <a href = "/"><img class = "logo-actual" src = "{% static 'images/logo.png' %}"></a>
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/notes"><h6>Notes</h6></a>
                    <a class="mdl-navigation__link" href="/past-year-papers"><h6>Previous Year Papers</h6></a>
                    {% if user.is_authenticated %}
                        <a class="mdl-navigation__link"><h6>{{user.username|title}}</h6></a>
                        <a class="mdl-navigation__link" href="/logout"><h6>Logout</h6></a>
                    {% else %}
                        <a class="mdl-navigation__link" href="/register"><h6>Register</h6></a>
                        <a class="mdl-navigation__link" href="/login"><h6>Sign in</h6></a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
          <span class="mdl-layout-title">NoteClub</span>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/notes">Notes</a>
            <a class="mdl-navigation__link" href="/past-year-papers">Previous Year Papers</a>
            {% if user.is_authenticated %}
                <a class="mdl-navigation__link">{{user.username|title}}</a>
                <a class="mdl-navigation__link" href="/logout">Logout</a>
            {% else %}
                <a class="mdl-navigation__link" href="/register">Register</a>
                <a class="mdl-navigation__link" href="/login">Sign in</a>
            {% endif %}
          </nav>
        </div>
