{% load static %}
        <header class="mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <a href = "/"><img class = "logo-actual" src = "{% static 'images/logo.png' %}"></a>
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href=""><h6>Notes</h6></a>
                    <a class="mdl-navigation__link" href=""><h6>Upload</h6></a>
                    <a class="mdl-navigation__link" href=""><h6>Past Year Papers</h6></a>
                    {% if user.is_authenticated %}
                        <a class="mdl-navigation__link" href="/account"><h6>{{user.username|title}}</h6></a>
                        <a class="mdl-navigation__link" href="/logout"><h6>Logout</h6></a>
                    {% else %}
                        <a class="mdl-navigation__link" href="/login"><h6>Sign in</h6></a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
          <span class="mdl-layout-title">Note Keeper</span>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">College</a>
            <a class="mdl-navigation__link" href="">Subject</a>
            <a class="mdl-navigation__link" href="">Past Year Papers</a>
            <a class="mdl-navigation__link" href="">Upload</a>
            {% if user.is_authenticated %}
                <a class="mdl-navigation__link" href="/account">{{user.username|title}}</a>
                <a class="mdl-navigation__link" href="/logout">Logout</a>
            {% else %}
                <a class="mdl-navigation__link" href="/login">Sign in</a>
            {% endif %}
          </nav>
        </div>